* {
  margin: 0;
  padding: 0;
}

.landing,
.contents {
  width: 100%;
  height: 110vh;
  color: white;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}
.contents {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 225, 0) 100%
  );
  display: grid;
  align-items: center;
  justify-self: start;
  /* justify-content: space-between; */
  flex-direction: column;
  padding: 0px 40px;
  text-align: left;
}
.word {
  align-self: end;
}

.main__word {
  font-size: 55px;
}
.mainword__break {
  color: #083c63;
}
.button {
  align-self: start;
}
.button > .getstarted__btn {
  margin-top: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: smaller;
  border: none;
  background-color: rgba(180, 27, 27, 0.8);
  color: white;
}

@media screen and (max-width: 824px){
  .contents {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 786px){
  .main__word {
    font-size: 40px;
  }
}