.doctor__info {
    text-align: center;
    text-transform: capitalize;
  }
  .doctor__info > h2,
  .doctor__info > h5 {
    font-weight: 400;
  }
  
  figure.doctor__detail {
    position: relative;
    overflow: hidden;
    min-width: 200px;
    color: inherit;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    justify-self: center;
    
  }
  figure.doctor__detail img {
    max-width: 100%;
    transition: all .5s ease-in-out;
  }
  figure.doctor__detail:hover > img {
    transform: scale(1.1);
  }
  figure.doctor__detail figcaption {
    position: relative;
    background-color: #ffffff;
    padding: 25px 0px;
  }
  

  @media screen and (max-width: 824px){

  }