.teams__section {
  /* width: 100vw; */
  min-height: 60vh;
  padding: 50px;
  text-align: center;
}
.teams__header {
  color: rgb(8, 60, 99);
}
.teams__details {
  /* width: 100vw; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-top: 30px;
}

@media screen and (max-width: 824px) {
  .teams__section {
    padding: 20px;
  }
}
